#acount {
  background-image: url("../image/wd-furniture-pt-def-opt.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
}

#account-content {
  display: flex;
  padding: 3rem 6rem;
  justify-content: space-between;
  margin-right: 3rem;
  .login {
    display: none;
  }
  .register,
  .login {
    width: 40%;

    h4 {
      margin-bottom: 2rem;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      width: 100%;
      .label-input {
        position: relative;
        width: 100%;

        span {
          color: rgba(255, 0, 0, 0.547);
        }
        input {
          margin-top: 7px;
          padding: 12px;
          border: 1px solid #1d1d1d;
          border-radius: 30px;
          background-color: #2b2b2b;
          width: 100%;
          &:focus {
            background-color: #c2c2c2;
          }
        }
        .password-wrap {
          position: relative;
          i {
            color: #fff;
            position: absolute;
            top: 0;
            right: 10px;
            // font-size: 16px;
          }
        }
      }
      .login-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;

        button {
          padding: 12px;
          border: 1px solid black;
          border-radius: 30px;
          background-color: rgba(255, 0, 0, 0.547);
          width: 100%;
          &:hover {
            opacity: 0.7;
          }
        }
        a {
          letter-spacing: normal;
        }
      }
    }
  }
  .content {
    text-align: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    button {
      padding: 1rem 2rem;
      border-radius: 30px;
      outline: none;
      background-color: #1d1d1d;
      border: none;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: #000;
        opacity: 0.7;
      }
    }
  }
}
